rules_version = '2';

function isAdmin(uid) {
	let ADMINS = ['WQCSuK5jvtcJWHbvyk2WdBM7Pqv1'];
	return uid in ADMINS;
}

service cloud.firestore {
  match /databases/{database}/documents {

   
    	match /users/{uid}	{
      	allow read: if uid == request.auth.uid || isAdmin(request.auth.uid);
      }
      
      match /users/{document=**} {
      	allow create: if true;
      }
      
      match /offers/{document=**} {
      	allow read: if true;
      }
      
      match /orders/{order} {
      	allow read: if resource.data.buyerID == request.auth.uid || isAdmin(request.auth.uid);
      }
      
      match /books/{document=**} {
      	allow read: if true;
      }    
  }
}