@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --x-light-green: #f4fff4;
  --light-green: #e7fdea;
  --dark-green: #01bf14;
  --error-red: #ec1717;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

button {
  margin: 20px auto;
  border-radius: 25px;
  padding: 10px 25px;
  background-color: #edebeb;
}

button:hover {
  background-color: #bfbfbf;
}

.error {
  color: var(--error-red);
  padding: 10px;
}

.container div {
  text-align: center;
  margin: auto;
}

.container input {
  width: 90%;
  margin: 10px auto;
  padding: 10px;
}

.container button {
  font-size: medium;
}